.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  color: var(--black);
}

/* Dark mode */

.dark {
  color: var(--white);
}

/* Mobile */

@media (max-width: 999px) {
  .title {
    font-size: 56px;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 48px;
  }
}

@media (max-width: 479px) {
  .title {
    font-size: 48px;
  }
}
@media (max-width: 359px) {
  .title {
    font-size: 40px;
  }
}
