.wrapper {
  border-radius: 6px;
  padding: 6px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 126%;
  text-align: center;
  color: var(--white);
  background: var(--green);
}

/* Mobile  */

@media (max-width: 767px) {
  .wrapper {
    font-size: 24px;
  }
}

@media (max-width: 479px) {
  .wrapper {
    font-size: 18px;
  }
}
